* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
}

p {
    font-size: 0.8rem;
    color: #888;
}

h2 {
    font-weight: normal;
    color: #888;
}

h3 {
    font-weight: normal;
    font-size: 0.9rem;
    color: #888;
    margin-block: 10px;
}

.username {
    color: #212121;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-inline: auto;
    margin-block: 20px;
}

.card {
    background-color: white;
    box-shadow: 4px 4px 4px #ccc;
}

.left-column {
    flex-basis: 100%;
}

.right-column {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-box {
    position: relative;
}

.image-box img {
    width: 100%;
}

.image-box .username {
    position: absolute;
    bottom: 10px;
    left: 10px
}

ul {
    margin-block: 20px;
    list-style: none;
}

hr {
    border: 0.5px solid #eee;
}

ul > li {
    margin-top: 8px;
}

.icon-text {
    display: flex;
    gap: 10px;
    align-items: center;
}

i {
    color: teal;
}

.progress-bar {
    background-color: #ccc;
    border-radius: 20px;
    margin-block: 8px;
}

.progress-bar .progress {
    background-color: teal;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 0.5rem;
    padding-block: 2px;
}

.subtext {
    color: #212121;
}

.left-desc, .card-container {
    margin: 20px;
}

.skills {
    margin-block: 10px;
}

.languages {
    margin-block: 10px;
}

.badge {
    background-color: teal;
    color: white;
    padding: 2px 4px;
    font-size: 0.6rem;
    border-radius: 4px;
}

.date {
    color: teal;
}

.subtext {
    margin-block: 10px;
}

@media  screen and (min-width: 641px) {
    .container {
        width: 70%;
        flex-direction: row;
    }

    .left-column {
        flex-basis: 35%;
    }

    .right-column {
        flex-basis: 65%;
    }
    
}