
.news-app {
    width: 80%;
    margin-inline: auto;
    margin-block: 40px;
}

.query-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 1.2rem;
    border: 2px solid black;
}

.btn-submit {
    margin-bottom: 20px;
    padding: 20px 60px;
}
