:root {
    --button-color: #013a01;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px 80px;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    border: 5px solid var(--button-color);
    background: none;
    cursor: pointer;
    color: var(--button-color);
    transition: 1s;
    position: relative;
    /* overflow: hidden; */
}

button::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    right: 200%;
    top: 0;
    transform: scale(2);
    transform-origin: left;
    background: var(--button-color);
    transition: 1s;
    border-radius: 50%;
}

button:hover {
    color: white;
}

button:hover::before {
    transform: scale(3);
}


/* .main-button:hover ~ .bottom-line {
    background-color: lightblue;
}

.main-button:hover + .top-line {
    background-color: red;
} */