* {
    margin: 0;
    box-sizing: border-box;
}

.span-2 {
    grid-column: span 2;
}

.span-3 {
    grid-column: span 3;
}

.container {
    max-width: 280px;
    margin: 60px auto;
}

.info {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.number-input {
    width: 100%;
    padding: 20px 10px;
    background-color: black;
    font-family: monospace;
    color: white;
    font-size: 3rem;
    text-align: end;
    border: none;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    background-color: #ccc;
    border: 1px solid black;
    padding-block: 12px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: white;
}

.orange {
    background-color: rgb(240, 184, 0);
}