* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

nav {
    background-color: #333;
    color: white;
    display: flex;
    height: 60px;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
    display: block;
}

.nav-menu-link {
    text-align: center;
    padding: 12px;
}

a:hover {
    background-color: #777;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.nav-links {
    position: fixed;
    background-color: #333;
    left: 0;
    width: 100%;
    top: 60px;
    transform: translateY(-150%);
    transition: 0.3s ease;
    z-index: -4;
}

.nav-links.active {
    transform: translateY(0%);
}



@media screen and (min-width: 600px) {

    .nav-links {
        display: block;
        position: static;
        transform: translateY(0%);
        width: auto;
        z-index: 0;
    }

    nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        flex-direction: row;
        align-items: center;
    }

    .toggler {
        display: none;
    }

}