* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 160px;
    height: 160px;
    border: 10px solid black;
    padding: 20px;
    margin-inline: auto;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}